body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(189, 161, 100);
    margin: 50px;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 100px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
@media(min-width:768px) 
/*Para adaptar*/
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}



body 
{
    height: 550px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
  
    margin: 0;
    padding: 0;
    background: url(foto.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

